<ion-view >
  <ion-nav-title>
    <img src="img/logo-sm.png">
  </ion-nav-title>

  <ion-content class="padding">

        <div class="pheader bg">
         <div class="p1">
             <img src="http://prod.static9.net.au/_/media/Network/Images/red-bull-can-160318.jpeg" />
         </div>
         <div class="t1">
             Red Bull Energy Drink, 8.4 Fl Oz Cans (6 Packs of 4, Total 24 Cans)
         </div>
         <div class="clear"> </div>
         <div class="d1">
             <ul class="a-vertical a-spacing-none">
                <li class="showHiddenFeatureBullets"><span class="a-list-item">Red Bull Energy Drink: Get Wiiings</span></li>
                <li class="showHiddenFeatureBullets"><span class="a-list-item">Red Bull Energy Drink is a beverage perfect for when you're in need of a boost</span></li>
                <li class="showHiddenFeatureBullets"><span class="a-list-item">Featured High-Quality Ingredients: Caffeine, Taurine, B-Group Vitamins, Sucrose &amp; Glucose, Alpine Spring Water</span></li>
                <li class="showHiddenFeatureBullets"><span class="a-list-item">Add this 6 count of Red Bull Energy Drink 4 Packs to your basket and get twenty-four original Red Bull Energy drink cans, 8.4 Fl Oz (250mL), 100%-recyclable</span></li>
                <li class="showHiddenFeatureBullets"><span class="a-list-item">Red Bull Vitalizes Body and Mind</span></li>
        </ul>
         </div>
     </div>
     <div class="pscore">

     </div>
    <div class="psocial">

     </div>

  </ion-content>
</ion-view>
